---
layout: archive
---

{{ content }}

<!--<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="237042201224-2ebtt9f0k1r9ta8j73fgjl9qb22avjkd.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>-->



<script src="https://accounts.google.com/gsi/client" async></script>

<script>
  function decodeJWT(token) {

    let base64Url = token.split(".")[1];
    let base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
    let jsonPayload = decodeURIComponent(
      atob(base64)
        .split("")
        .map(function (c) {
          return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
        })
        .join("")
    );
    return JSON.parse(jsonPayload);
  }

  function handleCredentialResponse(response) {

    console.log("Encoded JWT ID token: " + response.credential);

    const responsePayload = decodeJWT(response.credential);

    console.log("Decoded JWT ID token fields:");
    console.log("  Full Name: " + responsePayload.name);
    console.log("  Given Name: " + responsePayload.given_name);
    console.log("  Family Name: " + responsePayload.family_name);
    console.log("  Unique ID: " + responsePayload.sub);
    console.log("  Profile image URL: " + responsePayload.picture);
    console.log("  Email: " + responsePayload.email);
  }
  </script>

<!-- g_id_onload contains Google Identity Services settings -->
  <div
    id="g_id_onload"
    data-auto_prompt="false"
    data-callback="handleCredentialResponse"
    data-client_id="237042201224-2ebtt9f0k1r9ta8j73fgjl9qb22avjkd.apps.googleusercontent.com"
  ></div>
  <!-- g_id_signin places the button on a page and supports customization -->
  <div class="g_id_signin"></div>




<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}



